.register-display {
    margin: 0 20px;
    justify-self: center;
    display: flex;
    gap: 2rem;
}

.register-display h2 {
    text-align: center;
    color: #f0f0f0;
}

.register-section, .flag-section {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}