.stack {
  color: #fff;
  /* border-radius: 8px; */
  min-width: 380px;
  grid-area: stack-view;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.stack-header {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  border-bottom: 1px solid #555;
  background-color: #3b3b3b;
  padding: 0.5rem;
  /* border-top-left-radius: 0.5rem; */
  /* border-top-right-radius: 0.5rem; */
}

.stack-body {
  overflow-y: auto;
  flex: 1;
  /* border-bottom-left-radius: 0.5rem; */
  /* border-bottom-right-radius: 0.5rem; */
}

.stack-row {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
  color: lightgreen;
  position: relative;
}

.stack-row:nth-child(even) {
  background-color: #2b2b2b;
}

.stack-row:nth-child(odd) {
  background-color: #1c1c1c;

}

.header {
  text-align: center;
  margin-bottom: 10px;
}

.stack-row.highlight .address::before {
  content: '→ ';
  color: red;
  position: absolute;
  left: 30px;
  transform: translateY(-30%);
  font-size: 2rem;
}

.address {
  color: cornflowerblue;
}

.value {
  color: tomato;
}