.App {
  display: grid;
  gap: 1rem;
  width: 100vw;
  grid-template-areas: 
    "registers emulator trace"
    "registers emulator trace"
    "registers emulator trace";

  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
}

.emulator {
  grid-area: emulator;
}

.header {
  text-align: center;
}