.App {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-areas:
    "emulator emulator emulator trace"
    "emulator emulator emulator trace"
    "emulator emulator emulator stack-view";
  /* grid-template-areas:
  "registers . . ."
  "registers emulator emulator stack-view"
  "registers emulator emulator stack-view"
  "registers trace trace ."; */
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 30%;
  align-items: center;
}

.emulator {
  grid-area: emulator;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.emulator-header {
  /* Set background text of emulator header to gradient */
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  background: linear-gradient(to right, #43cea2, #185a9d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.emulator-controls {
  display: flex;
  margin-top: 1rem;
  gap: 1rem;
  align-items: center;
}

.emulator-controls button {
  padding: .5rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #3b3b3b;
  color: white;
}

.emulator-controls button:hover {
  background-color: #2b2b2b;
}

.error-message {
  color: red;
}

.success-message {
  color: green;
}