.trace {
    /* font-family: monospace; */
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 4px;
    font-size: .8rem;
}

.trace h2 {
    margin-bottom: 10px;
}

.trace .trace-table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.trace .trace-table th,
.trace .trace-table td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: left;
}

.trace .trace-table th {
    /* background-color: #f0f0f0; */
    background-color: #3b3b3b;
    color: white;
}

.trace .trace-table tr {
    color: lightgreen;
}