.trace {
    grid-area: trace;
    align-self: start;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    color: white;
}

.trace h2 {
    margin-bottom: 10px;
    text-align: center;
}

.trace-header, .trace-row {
    display: grid;
    /* PC Instr Opnd A X Y SP Flags CYC  */
    grid-template-columns: 1.75fr 1fr 1.5fr repeat(3, 1fr) 1fr 2fr 1fr; /* 10 columns of equal width */
    column-gap: .1rem;
    gap: .1rem;
    text-align: center;
}

.trace-header {
    background-color: #3b3b3b;
    padding: 0.5rem 0;
    color: white;
}

.trace-body {
    background-color: #1c1c1c;
    color: white;
    overflow-y: auto;
    height: 100%;
}

.trace-row {
    padding: 0.2rem 0; /* Reduce padding for more compactness */
}

.trace-header div, .trace-row div {
    padding: 0.2rem; /* Reduce padding for more compactness */
}

.trace-row:nth-child(even) {
    background-color: #3b3b3b;
}

.set {
    color: green;
}

.instruction {
    color: cornflowerblue;
}

.operand {
    color: tomato;
}